* {background-color: #ADBDA3}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#image {
    width: 40%;
    height: 90%;
    z-index: 1;
}

img {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-right: 27%;
}

.nav {
    color: black;
    display: flex;
    justify-content:flex-end;
    margin-block-start: 0em;
    margin-block-end: 0em;
    z-index: 2;
    top: 0px;
}
.liNavTop {
    display: inline-block;
    margin-top: 11px;
    margin-left: 15px;
    margin-right: 44px;
    width: 79px;
    height: 26px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
}
.liNavTop a {
    color: black;
    text-decoration: none;
}
.liNavTop a:hover {
    color: white;
    font-weight: 400;
}
.activePagebar {
    background-color: white;
    position: relative;
    top: -39px;
    opacity: 1;
    height: 6px;
    width: 79px;
    margin-top: 0px;
    align-items: center;
    z-index: 3;
}


.box {
    height: 100%;
    width: 60%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.white {
    background-color: white;
    opacity: 0.85;
    display: flex;
    align-items: flex-start;
    position:absolute;
    margin-top: 0px;
    top: 0px;
    z-index: 4;
}

.textBox {
    display: flex;
}

#LISA {
    color: black;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0);
    font-size: 250px;
    padding-left: 15%;
    padding-top: 150px;
    font-family: 'Shadows Into Light', cursive;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 300;
    z-index: 5;
}


.wrap {
    position: absolute;
    font-size: 48px;
    font-family: 'Julius Sans One', sans-serif;
    background: rgba(0, 0, 0, 0);
    color: black;
    padding-left: 15%;
    padding-top: 460px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 300;
    width: 320px;
    z-index: 6;
}
.HOLMQUIST {
    display: inline-block;
    background: rgba(0, 0, 0, 0);
}
.UI {
    position: absolute;
    display: inline-block;
    animation: animate 5s linear infinite;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    color:#FF6100;
    text-align: center;
    overflow: hidden;
}
@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: translateY(-50px);
    }
    2%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    18%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    20%
    {
        opacity: 0;
        transform:translateY(50px);
    }
    100%
    {
        opacity: 0;
        transform: translateY(50px);
    }
}
.UI:nth-child(1) {
    animation-delay: 0s;
}
.UI:nth-child(2) {
    animation-delay: 2s;
}

/*struggling with this placement. relative position isn't working and the rest isn't on a grid so this was the best I could do without rewriting everything*/
#ST {
    color: black;
    background: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-size: 48px;
    font-family: 'Julius Sans One', sans-serif;
    margin-top: -52px;
    opacity: 1;
    z-index: 6;
}


.orange {
    border: 1px solid #FF6100;
    text-align: center;
    vertical-align: middle;
    color: black;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    font-size: 24px;
    margin-left: 15%;
    font-family: 'Poiret One', cursive;
    width: 39.3%;
    height: auto;
    z-index: 7;
}


#footerBlock {
    background-color: #FDFEFC;
    height: 65px;
    width: 100%;
    padding-bottom: 0px;
    margin-top: 0px;
    display: flex;
    position: fixed;
    z-index: 4;
    bottom: 0;
}
#footLISA {
    color:black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: 300;
    margin-left: 17px;
    margin-top: 5px;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
}
#footHOLMQUIST {
    color:black;
    font-family:'Julius Sans One', sans-serif;
    font-size: 10px;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    margin-top: 50px;
    margin-left: 17px; 
    z-index: 2;
}
#footHOLMQUIST span {
    color:#FF6100;
    background: rgba(0, 0, 0, 0);
    z-index: 2; 
}
#leftLine {
    background-color: #FF6100;
    height: 50px;
    width: 1px;
    margin-top: 10px;
    margin-left: 130px;
}
#rightLine {
    background-color:#FF6100;
    height: 75px;
    width: 1px;
    margin-top: 14.5px;
}
.liNavFoot {
    display: inline-block;
    margin-top: 20px;
    margin-left: 11.8%;
    width: 108px;
    height: 40px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
}
.liNavFoot a {
    color: black;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
}
.liNavFoot a:hover {
    color:#BF510E;
    background: rgba(0, 0, 0, 0);
    font-weight: 800;
}

@media only screen and (max-width: 889px) {
    .orange {
        font-size: 20px;
    }
}